version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
      - "github-actions"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore(deps): "
